*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100px;
    background: wheat;
}

.navbar{
    width: 86px;
    display: flex;
    margin: auto;
    padding: 15px 0px;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 160px;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 2px;
}